<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeScreen</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home_screen.css" />
  </head>
  <body>
    <div class="home-screen">
      <div class="container">

          <div class="login">
            <button class="rectangle-4" onclick="lecloginpage()"><span class="login-1">Login</span></button>
          </div>

          <div class="welcome">
            Welcome To Online Learning Session <br> Monitoring System
          </div>

          <div class="container-1">
            <div class="bgimg">
            </div>
            <button class="gs" onclick="goToOtherPage()"> Get Started</button>
          </div>

      </div>

      <div class="logo">
      </div>

      <span class="code-warriors">
      Code Warriors
      </span>

    </div>

    <script src="../static/home_screen.js"></script>
  </body>
</html>