<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conduct Sessions</title>
    <link rel="stylesheet" href="../static/conduct_session.css">
</head>
<body>
    <nav class="navbar">
        <div class="notification">
            <img src="images/logo.png" alt="Logo" height="50px" width="85px">
        </div>

        <ul class="nav-links">
            
        </ul>

        <div class="nav-right">
            <div class="notification">
                <img src="images/notification.png" alt="Notifications">
            </div>
            <div class="profile">
                <img src="images/profile.png" alt="Profile">
            </div>
        </div>
    </nav>

    <div class="content">
        <a href="analytics.html" class="session-link">
                <ul id="owa-question-list"></ul>
        </a>
    </div>

    <script src="../static/owa.js"></script>
</body>
</html>
